.rodape {
    background-color: #6278F7;
    color: white;
    max-width: 100%;
    margin-bottom: -20px;
    padding: 24px;
    display: flex;
    justify-content: space-around;
}

.rodape div {
    margin: auto;
}

.rodape .icons {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.icons img {
    width: 32px;
    height: 32px;
}

.copyright h3 {
    font-size: 16px;
    font-weight: 500;
}

@media (min-width: 320px) and (max-width: 768px) {
    .rodape .icons {
        gap: 8px;
    }
    .icons img {
        width: 16px;
        height: 16px;
    }
    .logo img {
        width: 100px;
        height: 50px;
    }
    .copyright h3 {
        font-size: 12px;
    }
}