.footer {
    background-color: #6278F7;
    color: white;
    width: 100%;
    margin-bottom: -20px;
    padding: 24px;
    display: flex;
    justify-content: space-around;
}

.footer div {
    margin: auto;
}

.footer .icons {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.icons img {
    width: 32px;
    height: 32px;
}

.copyright h3 {
    font-size: 16px;
    font-weight: 500;
}